APP_NAME=tech-php-admin-service
APP_ENV=local
APP_PORT=5003

DB_CONNECTION=sqlsrv
DB_HOST=localhost
DB_PORT=1433
DB_DATABASE=techStore1
DB_USERNAME=
DB_PASSWORD=
LEGACY_PROXY_ENABLED=true
LEGACY_API_BASE_URL=http://localhost:5001

JWT_SECRET=8740820426eac4bf5878409f9ae36e4ad0865be9537bebc7a746e66f1718c08f
JWT_ISSUER=BaseCore
JWT_AUDIENCE=BaseCore.WebClient
