{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=YOUR_SERVER;Database=zewvron1;Trusted_Connection=True;MultipleActiveResultSets=True;Encrypt=False;TrustServerCertificate=True"
  },
  "AppSettings": {
    "IsProduction": false
  },
  "Jwt": {
    "Issuer": "Zewvron",
    "Audience": "Zewvron.WebClient"
  },
  "Database": {
    "AutoMigrateOnStartup": false
  }
}
